<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{createUser}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"/>
    </div>
    <button type="submit">Register</button>
</form>

<div th:if="${param.error}">
    <p>Error is occurred while registering the User... </p>
</div>

</body>
</html>
